<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motion Match</title>
    <link rel="stylesheet" href="../static/styles.css">
    <!-- <link rel="icon" type="image/x-icon" href="../static/ribbon-solid.ico"> -->
    <script src="https://kit.fontawesome.com/8751abb40d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="brand"><a href='/home'><i class="fa-solid fa-person-running"></a></i>Motion Match</div>
    </nav>
    <div class="upload-area">
        <div class="file-drop-area" id="file-drop-area">
            <span class="prompt" style="text-align: center;">Drag & Drop videos here<br><br><i class="fa-solid fa-cloud-arrow-up"></i></span>
            <input type="file" id="file-input" accept=".mp4, .mov, .avi" required>
        </div>
        <button id="upload-button" onclick="uploadFile()">Upload</button>
    </div>
    <div id="response-area" class="response-area" style="display:none;">
        <p id="accuracy-text"></p>
        <video id="response-video" controls></video>
        <img id="accuracy-graph" alt="Accuracy Graph"/>
    </div>
    <script>
        async function uploadFile() {
            var input = document.getElementById('file-input');
            var file = input.files[0];

            // Check if a file is selected
            if (!file) {
                alert('Please upload a video');
                return;
            }

            // Check if the file format is .mp4
            if (file.type !== 'video/mp4') {
                alert('Please upload the video in .mp4 format');
                return;
            }

            // Create FormData object to hold the file
            var formData = new FormData();
            formData.append('file', file);

            try {
                // Send file to the server
                let response = await fetch('http://127.0.0.1:8000/process-video/', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    let jsonResponse = await response.json();
                    displayResponse(jsonResponse);
                } else {
                    alert('Error uploading file: ' + response.statusText);
                }
            } catch (error) {
                alert('Error uploading file: ' + error.message);
            }
        }

        function displayResponse(response) {
            console.log(response)
            localStorage.setItem('average_accuracy', response.average_accuracy);
            localStorage.setItem('processed_video', 'http://127.0.0.1:8000/' + response.processed_video);
            localStorage.setItem('accuracy_graph', 'http://127.0.0.1:8000/' + response.accuracy_graph);
            window.location.href = '/result';
        }

        // Drag and drop functionality
        const fileDropArea = document.getElementById('file-drop-area');

        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            fileDropArea.addEventListener(eventName, preventDefaults, false);
        });

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        fileDropArea.addEventListener('drop', handleDrop, false);

        function handleDrop(e) {
            const dt = e.dataTransfer;
            const files = dt.files;
            document.getElementById('file-input').files = files;
            uploadFile();
        }
    </script>
</body>
</html>
